/**
 * ChinaChess - in html5
 * http://www.jnzo.com/chess/
 * @ author 一叶孤舟
 * @ mail itlwei@163.com
 * @ QQ 28701884
 */

@charset "gb2312";
.chess-left {
    margin-left: 15px;
    margin-top: 15px;
    width: 540px;
}
.chess-right {
    margin-top: 15px;
}
.pinfo {
    font-size: 14px; 
    line-height: 150%;
    color: blue;
}
.pinfo * {
    margin-top: 3px;
    margin-bottom: 3px;
}

.bill_box{ height: 320px; width: 80px; overflow:auto;}
.bill_box li { cursor:pointer; text-align:left}
.bill_box li:hover { cursor:pointer; background: #C6A577; }
.bill_box li:active { cursor:pointer; background: #fff; }
#billList{ margin-top:20px}
.download{ margin-top:30px}

